.sidebar {
  width: 23%;
  height: 100vh;
  background-color: #EBEBEB;
  padding: 20px;
  margin: 0;
}

.sidebar a {
  text-decoration: none;
  color: #6d6d6d;
  font-weight: bold;
  padding: 7%;

}
.custom-button-admin{
  background-color: #E1E1E1;
  border: none;
  margin-bottom: 10px;
  width: 100%;
  
}

.custom-button-admin:hover {
  background-color: #6d6d6d;
  cursor: pointer;
}

.hamburger-button {
  display: none;
  background-color: #E1E1E1;
  border: none;
  margin-bottom: 10px;
  font-size: 24px;
}

/* Responsive Styles */
@media (max-width: 700px) {
  .hamburger-button {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .sidebar {
    position: fixed;
    left: -100%;
    transition: 0.3s;
    width: 60%;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;
  }
}