.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.card {
  width: 350px; 
  margin: 8px;
}

.footer-card{
  width: 100%;
  background-color: #6B0000;
  color: white;
}

.card-body {
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header{
  color: white;
}

.mb-4{
  color: rgb(110, 110, 110);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color: #A30000;
  color: white;
  text-align: center;
  padding: 10px;
}

nav a{
  text-decoration: none;
  color: white;
  text-align: left;
}

main{
  color: white;
}

.diagonal-split-background{
  background:black;
  background: linear-gradient(to left bottom, black 50%, #c7c7c7 50%);
  height: 500px;
}

.footer{
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 0.8em;
  width: 100%;
}

.footerTitles{
  text-decoration: underline;
  /* text-decoration: solid; */
}

.browse-button{
  background-color: red;
  color: black;
  border: whitesmoke 5px 5px 5px;
  border-radius: 3px;
}

.browse-button-link{
  text-decoration: none;
  padding: 5px;
  background-color: red;
  color: black;
  border: whitesmoke 5px 5px 5px;
  border-radius: 3px;
}